.circleRating {
  border-radius: 50%;
  padding: 0.2rem;
  .CircularProgressbar-text {
    font-size: 3.4rem;
    font-weight: 700;
    fill: var(--dark);
  }
  .CircularProgressbar-trail {
    stroke: transparent;
  }
}
