@import "../../mixins.scss";

.header {
  position: fixed;
  transform: translateY(0);
  width: 100%;
  height: 6rem;
  z-index: 1;
  display: flex;
  align-items: center;
  transition: all ease 0.5s;
  z-index: 2;
  padding: 2rem;
  &.top {
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(0.35rem);
    -webkit-backdrop-filter: blur(0.35rem);
  }
  &.show {
    background-color: var(--dark);
  }
  &.hide {
    transform: translateY(-6rem);
  }

  .contentWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    cursor: pointer;
    img {
      height: 6rem;
    }
  }
  .menuItems {
    list-style-type: none;
    display: none;
    align-items: center;
    cursor: pointer;
    @include md {
      display: flex;
    }
    .menuItem {
      height: 6rem;
      display: flex;
      align-items: center;
      margin: 0 1.5rem;
      color: var(--white);
      font-weight: 500;
      position: relative;
      &.searchIcon {
        margin-right: 0;
      }
      svg {
        font-size: 1.8rem;
      }
      cursor: pointer;
    }
  }

  .mobileMenuItems {
    display: flex;
    align-items: center;
    gap: 2rem;
    cursor: pointer;
    @include md {
      display: none;
    }
    svg {
      font-size: 1.8rem;
      color: var(--white);
    }
  }

  &.mobileView {
    background: var(--dark);
    .menuItems {
      display: flex;
      position: absolute;
      top: 6rem;
      left: 0;
      background: var(--dark);
      flex-direction: column;
      width: 100%;
      padding: 2rem 0;
      border-top: 0.1rem solid rgba(255, 255, 255, 0.1);
      animation: mobileMenu 0.3s ease forwards;
      .menuItem {
        font-size: 2rem;
        width: 100%;
        height: auto;
        padding: 1.5rem 2rem;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        &:hover {
          color: var(--redPink);
        }
        &:last-child {
          display: none;
        }
      }
    }
  }

  .searchBar {
    width: 100%;
    height: 6rem;
    background-color: var(--white);
    position: absolute;
    top: 6rem;
    animation: mobileMenu 0.3s ease forwards;
    .searchInput {
      display: flex;
      align-items: center;
      height: 4rem;
      margin-top: 1rem;
      width: 100%;

      svg {
        font-size: 2rem;
        flex-shrink: 0;
        margin-left: 1rem;
        cursor: pointer;
        color: var(--redPink);
      }
      input {
        width: 100%;
        height: 5rem;
        background-color: var(--white);
        outline: 0;
        border: 0;
        border-radius: 3rem 0 0 3rem;
        padding: 0 1.5rem;
        font-size: 1.4rem;
        @include md {
          height: 6rem;
          font-size: 2rem;
          padding: 0 3rem;
        }
      }
    }
  }
}

@keyframes mobileMenu {
  0% {
    transform: translateY(-130%);
  }
  100% {
    transform: translateY(0);
  }
}
