.resultNotFound {
  font-size: 2.4rem;
  text-align: center;
  color: var(--darkWhite);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    height: auto;
    max-width: 100%;
  }
}
